[project]
	description = All kinds of templates
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group dev-platypus
	owner = group user/Alexander Lenz (alenz33)
[access "refs/for/refs/*"]
	read = group dev-platypus
	read = group user/Alexander Lenz (alenz33)
	push = group dev-platypus
	push = group user/Alexander Lenz (alenz33)
	label-Code-Review = -2..+2 group dev-platypus
	label-Code-Review = -2..+2 group user/Alexander Lenz (alenz33)
	label-Verified = -1..+1 group dev-platypus
	label-Verified = -1..+1 group user/Alexander Lenz (alenz33)
	rebase = group dev-platypus
	rebase = group user/Alexander Lenz (alenz33)
	removeReviewer = group dev-platypus
	removeReviewer = group user/Alexander Lenz (alenz33)
	submit = group dev-platypus
	submit = group user/Alexander Lenz (alenz33)
[access "refs/heads/*"]
	read = group dev-platypus
	read = group user/Alexander Lenz (alenz33)
	create = group dev-platypus
	create = group user/Alexander Lenz (alenz33)
	push = +force group dev-platypus
	push = +force group user/Alexander Lenz (alenz33)
	pushMerge = group dev-platypus
	pushMerge = group user/Alexander Lenz (alenz33)
[access "refs/tags/*"]
	push = +force group dev-platypus
	push = +force group user/Alexander Lenz (alenz33)
	pushTag = +force group dev-platypus
	pushTag = +force group user/Alexander Lenz (alenz33)
	pushSignedTag = group dev-platypus
	pushSignedTag = group user/Alexander Lenz (alenz33)
