[project]
	description = All kinds of templates
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander Lenz (alenz33)
[access "refs/for/refs/*"]
	read = group user/Alexander Lenz (alenz33)
	push = group user/Alexander Lenz (alenz33)
	label-Code-Review = -2..+2 group user/Alexander Lenz (alenz33)
	label-Verified = -1..+1 group user/Alexander Lenz (alenz33)
	rebase = group user/Alexander Lenz (alenz33)
	removeReviewer = group user/Alexander Lenz (alenz33)
	submit = group user/Alexander Lenz (alenz33)
[access "refs/heads/*"]
	read = group user/Alexander Lenz (alenz33)
	create = group user/Alexander Lenz (alenz33)
	push = +force group user/Alexander Lenz (alenz33)
	pushMerge = group user/Alexander Lenz (alenz33)
[access "refs/tags/*"]
	push = +force group user/Alexander Lenz (alenz33)
	pushTag = group user/Alexander Lenz (alenz33)
	pushSignedTag = group user/Alexander Lenz (alenz33)
